<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="encryptPath" value="C:\Users\John Jermy\Documents\DAT Folder\EncryptedSecretKey.dat" />
		<add key="zipFolderPath" value="C:\Users\John Jermy\Documents\DAT Folder" />
		<add key="zipPath" value="C:\Users\John Jermy\Documents\Sample File Server\Zip Folder\EncryptedSecretKey.zip" />
		<add key="configPath" value="C:\Users\John Jermy\Documents\Sample File Server\Config Folder\config.txt" />
		<add key="dataProtectionScope" value="LocalMachine" />
	</appSettings>
</configuration>